{% extends "base.html" %}
{% block content %}
  <div class="form-shell">
    <h2 class="mb-4">Login</h2>

    <form method="POST" class="form-card">
      <div class="mb-4">
        <label class="form-label">Email</label>
        <input class="form-control form-control-lg"
               type="email"
               name="email"
               required>
      </div>

      <div class="mb-4">
        <label class="form-label">Password</label>
        <input class="form-control form-control-lg"
               type="password"
               name="password"
               required>
      </div>

      <button class="btn btn-primary btn-lg btn-balanced" type="submit">
        Login
      </button>
    </form>
  </div>
{% endblock %}
